.login {
  font-family: 'Fredoka', sans-serif;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  padding: 10px;

  p {
    font-size: 12pt;
    margin: 0;
  }
}
