.SearchBar {
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 30%;
  padding-right: 30%;
}

form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input {
  width: 70%;
  height: 2em;
}
