.Playlist {
  /* display: block; */
  /* overflow: hidden; */
  text-align: center;
}

.PlaylistSubhead {
  display: flex;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 0.83em;
  flex-direction: column;
  align-items: center;

  h2 {
    font-family: 'Oleo Script Swash Caps', system-ui;
    color: black;
    font-size: 24pt;
    font-weight: bold;
    height: 35px;
    border: none;
    margin: 0;
    transform: translateY(-2px);
  }
}

input.PlaylistName {
  font-family: 'Oleo Script Swash Caps', system-ui;
  color: hsl(44, 85%, 97%);
  font-size: 24pt;
  font-weight: 300;
  height: 35px;
  width: 100%;
  background-color: transparent;
  border: none;
  text-align: center;
}

input.PlaylistName::placeholder {
  color: hsl(44, 85%, 97%);
  opacity: 0.5;
}

input.PlaylistName:focus {
  background-color: rgba(0, 0, 0, 0.25);
}

input.PlaylistName:focus-visible {
  outline: none;
}
