.App {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: stretch;
}

.metalic {
  background: #666;
  background: 
    /* texture */
    repeating-linear-gradient(
        transparent 0 13%,
        #ffffff02 0 calc(13% + 1px),
        transparent 0
      )
      30% 0% / 40% 100%,
    repeating-linear-gradient(
        transparent 0 7%,
        #ffffff03 0 calc(7% + 1px),
        transparent 0
      )
      70% 0% / 33% 100%,
    repeating-linear-gradient(
        transparent 0 11%,
        #ffffff02 0 calc(11% + 1px),
        transparent 0
      ) -10% 0% / 35% 100%,
    repeating-linear-gradient(
        transparent 0 17%,
        #ffffff04 0 calc(17% + 1px),
        transparent 0
      )
      110% 0% / 27% 100%,
    repeating-linear-gradient(
        transparent 0 13%,
        #00000002 0 calc(13% + 1px),
        transparent 0
      )
      60% -10% / 33% 100%,
    repeating-linear-gradient(
        transparent 0 8%,
        #00000002 0 calc(8% + 1px),
        transparent 0
      )
      21% 2% / 27% 100%,
    repeating-linear-gradient(
        transparent 0 8%,
        #00000001 0 calc(8% + 1px),
        transparent 0
      )
      31% 7% / 19% 100%,
    /* /texture */ /* texture? */
      radial-gradient(farthest-side, #00000011, #0000 60%) 20% 50% / 50% 5%,
    radial-gradient(farthest-side, #ffffff08, #0000 60%) 50% 30% / 50% 7%,
    /* colors and shadows */
      radial-gradient(100% 10% at 60% 3%, #fff1, #0000 50%),
    radial-gradient(100% 10% at 60% 97%, #fff3, #0000 50%),
    radial-gradient(150% 10% at 50% 99%, #0009, #0000 50%),
    linear-gradient(#fff1, #fff0 15%, #fff1 85%, #fff3),
    linear-gradient(#fff2, #fff0 20%, #0000 96%, #0006),
    linear-gradient(
      90deg,
      #555,
      #333 10%,
      #ccc 33%,
      #666 48% 52%,
      #fff 66% 75%,
      #555 90% 95%,
      #ccc
    );
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  padding: 10px;
  height: calc(50px + 4vmin);
  box-shadow:
    /* outer SD */
    hsla(22, 80%, 5%, 0.6) 3px 3px 10px 3px,
    hsla(22, 80%, 5%, 0.4) 5px 5px 10px 8px,
    /* outer HL */ hsla(33, 59%, 50%, 0.3) 0px 6px 15px 11px,
    /* outer HL */ hsla(33, 59%, 50%, 0.4) 0px 5px 15px 11px;
}

.header h1 {
  font-family: 'Oleo Script Swash Caps', system-ui;
  font-weight: 700;
  font-style: normal;
  font-size: calc(20px + 3vmin);
}

.footer {
  color: hsl(0, 0%, 5%);
  display: flex;
  text-align: center;
  flex-direction: column-reverse;
  justify-content: space-around;
  width: 100%;
  height: 2.5rem;
  font-family: 'Fredoka', sans-serif;
  text-shadow:
    0 -2px 2px hsl(0, 0%, 38%),
    0 1px 1px hsl(0, 0%, 83%);
}

input[type='submit']:hover:enabled,
button:hover:enabled {
  cursor: pointer;
}

/* https://css-tricks.com/how-to-create-neon-text-with-css/ */

.glow {
  color: #fff;
  text-align: center;
  text-shadow:
    /* White glow */
    0 0 1px hsl(0, 0%, 100%),
    0 0 3px hsl(0, 0%, 100%),
    /* Green glow */ 0 0 22px hsl(160, 100%, 50%),
    0 0 32px hsl(160, 100%, 50%),
    0 0 42px hsl(160, 100%, 50%),
    0 0 52px hsl(160, 100%, 50%),
    0 0 82px hsl(160, 100%, 50%);
}
